@model Assignment3_n01486790.Models.Class

@{
    ViewBag.Title = "Show";
}

<h2>Class Details</h2>

<a href="/Class/List">Back to Class List</a>

<div  class="info-box">

    <p>Class Name: @Model.ClassName</p>

    <p>Teacher: @Model.TeacherFname @Model.TeacherLname</p>

    <p>Course Code: @Model.ClassCode</p>

    <p>Duration: @Model.StartDate To @Model.FinishDate</p>

</div>
